@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto",  sans-serif;
}
p {
  font-family: "Inter", sans-serif;
}

/* iconstyle */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 34;
}

/* iconstyle */
.header {
  background-color: white;
  display: flex;
  margin-top: 52px;
  flex-wrap: wrap;
}
#carouselExampleControls {
  padding: 60px;
}
.section2 {
  background-color: #4e4feb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  color: white;
  height: 20vh;
}
.praktik {
  font-size: 36px;
}
.teori {
  font-size: 36px;
}
.slider {
  background-color: #eeeeee;
}
.Caradaftar {
  margin-top: 100px;
}
.Caradaftar h1 {
  text-align: center;
  font-size: 35px;
}

.foto {
  display: flex;
  justify-content: center; /* Menengahkan secara horizontal */
  align-items: center;
}
.foto img {
  width: 600px;
  height: auto;
  position: absolute;
  right: 200px;
  margin-top: 266px;
}

.home {
  padding-top: 100px;
  margin: 150px;
}
.home h1 {
  font-size: 46px;
  font-weight: bold;
}
.home p {
  font-size: 25px;
}
.btn {
  background-color: #0066ff;
}
.pede {
  margin-left: 78px;
  margin-top: 100px;
}
.tujuan {
  /* background-color: #068fff; */
  background: rgb(0, 104, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 104, 255, 1) 0%,
    rgba(6, 143, 255, 1) 100%
  );
  color: white;
}

.tujuankelas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
}
.tujuan h1 {
  margin-top: 100px;
  font-size: 38px;
  text-align: center;
}

.isitujuan {
  text-align: center;
}
.isitujuan img {
  width: 250px;
  height: auto;
}
.isitujuan p {
  font-size: 25px;
}

.benefit {
  color: rgb(0, 0, 0);
}
.isibenefit {
  display: flex;
  justify-items: center;
}
.isibenefit img {
  width: 37px;
  height: 30px;
}
.isibenefit p {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.pembungkusbenefit {
  margin: 100px;
}

.benefit h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 80px;
}
.after {
  margin-top: 100px;
}
.after p {
  font-size: 25px;
  text-align: center;
}
.jurney {
  /* background-color: #068fff; */
  background: rgb(0, 104, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 104, 255, 1) 0%,
    rgba(6, 143, 255, 1) 100%
  );
}
.jurney h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}
.isijurney {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.jurney img {
  width: 800px;
  height: auto;
  opacity: 95%;
}

.containerrr {
  margin-top: 100px;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  white-space: nowrap;
  -ms-overflow-style: none; /* Untuk Internet Explorer dan Microsoft Edge */
  scrollbar-width: none; /* Untuk Firefox */
}

.containerrr .card {
  margin-top: 20px;
  display: inline-block;
  background-color: white;
  min-width: 384px;
  height: 476px;
  border-radius: 4px;
}

.containerrr::-webkit-scrollbar {
  display: none;
}
.testimoni {
  margin-top: 100px;
}
.testimoni h1 {
  font-size: 35px;
  text-align: center;
}
#ulasan {
  margin-top: 50px;
}
.gambar {
  width: 100%;
  height: 240px;
}
.gambar img {
  width: 100%;
  height: 240px;
}
.aftersales {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.aftersales img {
  width: 500px;
  height: auto;
  margin-top: 80px;
}
.cardbody {
  margin-top: 29px;
  margin-left: 20px;
}
.cardbody h5 {
  font-size: 25px;
  font-weight: bold;
}
.cardbody p {
  font-size: 18px;
}

.jumbotron {
  margin-top: 100px;
}
.kenalan {
  margin-top: 80px;
}
.kenalan h1 {
  font-size: 25px;
  font-weight: bold;
}
.kenalan h2 {
  font-size: 20px;
}
.kenalan p {
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

.rest {
  text-align: center;
  height: auto;
}

.carousel {
  height: auto;
}
.navbar {
  background-color: #ffff;
  color: #068fff;
}

.collapse {
  justify-content: end;
  margin: 20px;
}
.nav-item {
  font-size: 20px;
  margin: 5px;
}

.logo {
  height: auto;
  width: 300px;
  margin-left: 60px;
}
.aset1 {
  margin-top: 50px;
  height: auto;
  width: 400px;
  margin-left: 60px;
}

.isi {
  padding-top: 100px;
}
.profil1 {
  margin-top: 50px;
  height: auto;
  margin-left: 10vw;
  width: 240px;
}
.tmbl {
  text-align: center;
}
.content {
  padding-top: 200px;
}
.imgtest {
  width: 10px;
}
.isi h1 {
  text-align: center;
  font-size: 40px;
}
.text {
  font-size: 30px;
  margin-top: 100px;
}
.daftar {
  margin-top: 50px;
  font-size: 25px;
}
.daftar p {
  font-size: 25px;
  text-align: center;
}
.apakontenbebe {
  background-color: #d9d9d9;
}
.apakontenbebe h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}
.apakontenbebe p {
  text-align: center;
  font-size: 20px;
}

.kontenbebe {
  margin-top: 100px;
}
.bebe {
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
  font-family: "Inter", sans-serif;
}
.card {
  width: 400px;
}

.after {
  text-align: center;
}
.after1 {
  width: 400px;
  height: auto;
}
.pamflet {
  margin: 500px;
}

.hero {
  color: black;
}
@media screen and (max-width: 1143px) {
  .home {
    padding-top: 0px;
    margin: 50px;
    margin-left: 25vw;
  }
  .tujuankelas {
    gap: 8px;
    margin-top: 100px;
  }
  .isitujuan img {
    width: 200px;
    height: auto;
  }
  .isitujuan p {
    font-size: 20px;
    text-align: center;
  }
  .pembungkusbenefit {
    margin: 40px;
  }
  .section2 {
    gap: 100px;
    color: white;
    height: 10vh;
  }
  .praktik {
    font-size: 26px;
  }
  .teori {
    font-size: 26px;
  }

  .isibenefit {
    display: flex;
    padding: 10px;
  }
  .isibenefit img {
    width: 37px;
    height: 30px;
  }
  .foto {
    margin-top: 100px;
    margin-left: 25vw;
  }

  .foto img {
    bottom: 0px;
    width: 500px;
    height: auto;
    position: relative;
    margin-top: 0px;
    right: 0px;
  }
  .jurney h1 {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
  }

  .isibenefit p {
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  .collapse {
    margin-left: 0px;
  }
  .rest p {
    font-size: 20px;
  }
  .Caradaftar {
    margin-top: 80px;
  }
  .Caradaftar h1 {
    text-align: center;
    font-size: 30px;
  }
  .isi h1 {
    text-align: center;
    font-size: 30px;
  }
  .apakontenbebe h1 {
    font-size: 20px;
  }
  .nav-item {
    font-size: 15px;
    font-weight: 200;
  }
  .aftersales img {
    width: 600px;
    height: auto;
    margin-top: 50px;
  }

  #carouselExampleControls {
    padding: 50px;
  }

  .apakontenbebe h1 {
    text-align: center;
    font-size: 25px;
  }
  .apakontenbebe p {
    text-align: center;
    font-size: 20px;
  }
  .home {
    text-align: center;
    padding-top: 0px;
  }
  .home h1 {
    font-size: 30px;
    font-weight: bold;
  }
  .home p {
    font-size: 24px;
  }
  .after1 {
    width: 200px;
    height: auto;
  }
  .after p {
    font-size: 20px;
    text-align: center;
  }
  .benefit {
    font-size: 20px;
    padding-top: 10px;
  }
  .benefit h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
  }

  .Caradaftar {
    padding-top: 50px;
  }
  .testimoni {
    font-size: 20px;
    margin-top: 50px;
  }
  .testimoni h1 {
    font-size: 25px;
    text-align: center;
  }

  .header h1 {
    font-size: 30px;
  }
  .isi {
    padding-top: 50px;
  }
  .header p {
    font-size: 20px;
  }
  .profil {
    padding-top: 50px;
  }
  /* .navbar {
    height: 60px;
  } */
  .logo {
    width: 150px;
    height: auto;
    margin-left: 0px;
  }
  .text {
    margin-top: 50px;
    font-size: 25px;
  }

  .hero h1 {
    font-size: 20px;
  }
  .hero p {
    font-size: 12px;
  }
  .aset1 {
    height: auto;
    width: 100px;
  }
  .after p {
    font-size: 15px;
    text-align: center;
  }
  .profil1 {
    margin-top: 50px;
    height: auto;
    margin-left: 10vw;
    width: 140px;
  }

  .content {
    padding-top: 50px;
  }
  .daftar {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .bebe {
    margin-left: 40px;
    margin-right: 40px;
  }
  .kenalan {
    margin-top: 50px;
  }
  .kenalan h1 {
    font-size: 20px;
  }
  .kenalan p {
    font-size: 18px;
  }
  #ulasan {
    margin-top: 30px;
  }
  .harga {
    text-align: center;
  }
  .harga img {
    width: 900px;
    height: 300px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .harga img {
    width: 300px;
    height: auto;
    text-align: center;
  }
  .praktik {
    font-size: 16px;
  }
  .teori {
    font-size: 16px;
  }
  .home {
    padding-top: 0px;
    text-align: center;
    margin: 10px;
    margin-left: 10vw;
  }
  .home {
    margin-left: 15vw;
  }
  .home h1 {
    font-size: 20px;
    font-weight: bold;
  }
  .home p {
    font-size: 14px;
  }

  .isitujuan img {
    width: 70px;
    height: auto;
  }
  .tujuankelas {
    margin-top: 20px;
    align: top;
  }
  .tujuankelas img {
  }
  .tujuan h1 {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
  }
  #containertujuan {
    margin-top: 0px;
  }
  .pembungkusbenefit {
    margin: 0px;
  }
  .isibenefit {
    padding: 1px;
  }
  .isibenefit img {
    width: 27px;
    height: 20px;
  }
  .isibenefit p {
    font-size: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  .isitujuan p {
    font-size: 10px;
  }

  .collapse {
    margin-left: 0px;
  }
  .kenalan {
    margin-top: 50px;
    text-align: center;
  }
  .testimoni {
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
  }

  .testimoni h1 {
    font-size: 25px;
    text-align: center;
  }
  .apakontenbebe p {
    text-align: center;
    font-size: 15px;
    margin: 0 20px;
  }

  .after1 {
    width: 150px;
    height: auto;
  }
  .after p {
    font-size: 15px;
  }
  .isi h1 {
    text-align: center;
    font-size: 20px;
  }

  .benefit h1 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
  }
  .daftar {
    font-size: 10px;
  }
  .Caradaftar {
    margin-top: 50px;
  }
  .Caradaftar h1 {
    text-align: center;
    font-size: 20px;
  }
  .testimoni h1 {
    text-align: center;
    font-size: 20px;
  }
  .row {
    padding: 50px;
  }

  .aftersales img {
    width: 300px;
    height: auto;
    margin-top: 10px;
  }
  .apakontenbebe h1 {
    text-align: center;
    font-size: 20px;
  }
  .profil1 {
    margin-top: 50px;
    height: auto;
    margin-left: 15vw;
    width: 140px;
  }
  #carouselExampleControls {
    padding: 10px;
  }
  .foto {
    margin-left: 15vw;
    padding-top: 0px;
  }
  .foto img {
    width: 250px;
    margin-top: 0px;
  }

  #ulasan {
    margin-top: 5px;
  }

  .containerrr {
    margin-top: 50px;
  }
  .containerrr .card {
    margin-top: 0px;
    display: inline-block;
    min-width: 254px;
    height: 376px;
    border-radius: 4px;
  }
  .gambar {
    width: 100%;
    height: 200px;
  }
  .gambar img {
    width: 100%;
    height: 200px;
  }
  .lead {
    text-align: start;
  }
  .daftar p {
    font-size: 15px;
    margin: 5px;
  }
  .cardbody {
    margin-top: 29px;
    margin-left: 20px;
  }
  .text {
    font-size: 20px;
  }
  .cardbody h5 {
    font-size: 18px;
  }
  .cardbody p {
    font-size: 12px;
  }
}
